body{
  background-color: var(--black-color);
  text-align: center; /*centrar*/
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /*toma el tamaño de la pantalla*/
}

.content_paypal a{
  color: var(--blue-color);
}
